.bloody-main{
  width: 100%;
  height: auto;
  min-height: 720px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section1{
  color: red;
  font-size: 50px
}
.section2{
  color: red;
  font-size: 50px
}

.white{
  color: white
}
