@font-face {
    font-family: 'Simple'; /*a name to be used later*/
    src: url('../custom/Simplifica_Sans.ttf'); /*URL to font*/
}

img{
  max-width: 100%;
  max-height: 100%;
}

@media all and (min-width: 416px){
  @keyframes slideInFromLeft {
  0% {
    transform: translateX(-1000%);
  }
  100% {
    transform: translateX(0%);
    }
  }
  .mobile-main-container{
    display: none
  }
  .main-container{
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: blue*/
  }

  .logo-box{
    width: 33%;
    height: 510px;
    position: relative;
    max-width: 350px;
    /*background-color: red*/
  }

  .main-logo{
    position: absolute;
    bottom: 0;
    margin-left: 125px
  }

  .slogan-box{
    width: 34%;
    height: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /*background-color: red*/
  }

  .slogan1{
    font-size: 50px;
    text-align: right;
    font-family: 'Simple'
  }
  .orange{
    color: #FF7F50
  }
  .slogan2{
    font-size: 35px;
    text-align: right;
    font-family: 'Simple'
  }

  .stripes-box{
    width: 33%;
    display: flex;
    max-width: 325px;
    height: 650px;
    animation: mymove 5s infinite;
    /*background-image: url('../images/stripes.png');*/
    /*animation: 5s ease-out 0s 1 slideInFromLeft;*/
    background-size: 100% 100%;
  }
  .bar8{
    animation: 3s ease-out 0s 1 slideInFromLeft;
    background-image: url('../images/bars/bar_8.png');
    height: 650px;
    width: 2.5%;
  }
  .bar7{
    animation: 3s ease-out 0s 1 slideInFromLeft;
    height: 650px;
    background-image: url('../images/bars/bar_7.png');
    margin-left: 30px;
    width: 10%;
  }
  .bar6{
    animation: 3s ease-out 0s 1 slideInFromLeft;
    height: 650px;
    background-image: url('../images/bars/bar_6.png');
    margin-left: 10px;
    width: 4%;
  }
  .bar5{
    animation: 2s cubic-bezier(0, 0, 0.2, 1) 0s 1 slideInFromLeft;
    height: 650px;
    background-image: url('../images/bars/bar_5.png');
    width: 10px;
    position: relative;
    left: 30px;
  }
  .bar4{
    animation: 2s cubic-bezier(0, 0, 0.2, 1) 0s 1 slideInFromLeft;
    height: 650px;
    background-image: url('../images/bars/bar_4.png');
    width: 10px;
    position: relative;
    left: 63px;
  }
  .bar3{
    animation: 3s cubic-bezier(0, 0, 0.20, 1) 0s 1 slideInFromLeft;
    height: 650px;
    width: 33%;
    display: flex;
    background-image: url('../images/bars/bar_3.png');
  }
  .bar2{
    animation: 2s ease-out 0s 1 slideInFromLeft;
    height: 650px;
    background-image: url('../images/bars/bar_2.png');
    width: 6.5%;
    margin-left: 28px;
  }
  .bar1{
    animation: 3s ease-out 0s 1 slideInFromLeft;
    height: 650px;
    background-image: url('../images/bars/bar_1.png');
    width: 16%;
    margin-left: 7px;
  }
}

@media all and (max-width: 415px){
  @keyframes slideInFromTop {
  0% {
    transform: translateY(-1000%);
  }
  100% {
    transform: translateY(0%);
    }
  }
  .main-container{
    display: none;
  }
  .mobile-main-container{
    width: 100%;
    height: 100%
  }
  .slogan1{
    font-size: 40px;
    margin-top: 90px;
    text-align: right;
    font-family: 'Simple';
  }
  .orange{
    color: #FF7F50
  }
  .slogan2{
    font-size: 30px;
    text-align: right;
    font-family: 'Simple';
    margin-bottom: 120px
  }
  .mbackground{
    width: 100%;
    height: 200px;
    /*background-image: url('../images/mobile-stripes.png');*/
    background-size: cover;
    animation: 3s ease-out 0s 1 slideInFromTop;
    background-size: 100% 100%;
    /*display: flex;*/
  }
  .bar8{
    margin: 0px;
    background-size: 100% 100%;
    animation: 3s ease-out 0s 1 slideInFromTop;
    background-image: url('../images/mobile-bars/bar_8.png');
    width: 414px;
    height: 2.5%;
  }
  .bar7{
    background-size: 100% 100%;
    animation: 3s ease-out 0s 1 slideInFromTop;
    width: 414px;
    background-image: url('../images/mobile-bars/bar_7.png');
    margin-left: 30px;
    height: 10%;
  }
  .bar6{
    background-size: 100% 100%;
    animation: 3s ease-out 0s 1 slideInFromTop;
    width: 414px;
    background-image: url('../images/mobile-bars/bar_6.png');
    margin-left: 10px;
    height: 4%;
  }
  .bar5{
    background-size: 100% 100%;
    animation: 3.5s cubic-bezier(0, 0, 0.2, 1) 0s 1 slideInFromTop;
    width: 414px;
    background-image: url('../images/mobile-bars/bar_5.png');
    height: 10px;
    position: relative;
    left: 30px;
  }
  .bar4{
    background-size: 100% 100%;
    animation: 3.5s cubic-bezier(0, 0, 0.2, 1) 0s 1 slideInFromTop;
    width: 414px;
    background-image: url('../images/mobile-bars/bar_4.png');
    height: 10px;
    position: relative;
    left: 63px;
  }
  .bar3{
    background-size: 100% 100%;
    animation: 3s cubic-bezier(0, 0, 0.20, 1) 0s 1 slideInFromTop;
    width: 414px;
    height: 33%;
    display: flex;
    background-image: url('../images/mobile-bars/bar_3.png');
  }
  .bar2{
    background-size: 100% 100%;
    animation: 2s ease-out 0s 1 slideInFromTop;
    width: 414px;
    background-image: url('../images/mobile-bars/bar_2.png');
    height: 6.5%;
    margin-left: 28px;
  }
  .bar1{
    background-size: 100% 100%;
    animation: 3s ease-out 0s 1 slideInFromTop;
    width: 414px;
    background-image: url('../images/mobile-bars/bar_1.png');
    height: 16%;
    margin-left: 7px;
  }
  .mobile-logo{
    width: 275px;
    height: 148px;
    margin-left: 100px;
    margin-top: 10px
  }
}
